http:
  routers:
    netbox-local:
      rule: "Host(`netbox.example.local`)"
      entryPoints:
        - https
      middlewares:
        - error-pages-middleware@docker
      service: netbox-svc
      priority: 300
      tls:

    netbox-private:
      rule: "Host(`netbox.example.org`)" # will only work with cloudflare Full SSL (not Strict)
      entryPoints:
        - https
      middlewares:
        - chain-authelia
        - error-pages-middleware@docker
      service: netbox-svc
      priority: 200
      tls:
        certResolver: cloudflare-dns-tk

    # netbox-public:
    #   rule: "Host(`netbox.example.tk`)" # will only work with cloudflare Full SSL (not Strict)
    #   entryPoints:
    #     - https
    #   middlewares:
    #     - chain-oauth-public
    #     - error-pages-middleware@docker
    #   service: netbox-svc
    #   priority: 100
    #   tls:
    #     certResolver: cloudflare-dns-tk

  services:
    netbox-svc:
      loadBalancer:
        # passHostHeader: true
        servers:
          - url: "http://10.10.22.51:8080" # or whatever your external host's IP:port is
